<h1> Employee profile </h1>

	<p>
			 Name : <%= @e.name %>
	</p>

	<p>
			Age : <%= @e.age %>
	</p>


	<p>
			Email : <%= @e.email %>
	</p>

	<p>
			Phone : <%= @e.phno %>
	</p>

	 <p> <%= link_to "back" , emp_list_path %> </p>
